.skills[b-egt54x4zdy] {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	margin: 8px;
	transition: all 4ms ease;
}

.backend[b-egt54x4zdy] {
	width: 350px;
	height: 470px;
	margin: 2px;
	padding: 12px;
	border: 1px solid #fff;
	border-radius: 4px;
	background: #ebebeb;
	box-shadow: 2px 3px 3px rgba(166,166,166,0.4);
	text-align: center;
	position:relative;
}

li[b-egt54x4zdy] {
	list-style: none;
	line-height: 2.5;
}
p[b-egt54x4zdy]{
	font-weight:bold;
	text-align:center;
	font-size:22px;
	text-align:center;
	margin-top:10px;
	padding-top:12px;
}

.backend .icon svg[b-egt54x4zdy]{
	width:50px;
	height:50px;
	
}
.backend .icon[b-egt54x4zdy] {
	width:100%;
	heigh:70px;
	position: absolute;
	top:0;
	right:0;
	background:Highlight;
	margin-bottom:10px;
	padding:12px;
	border-radius:8px;
	align-items:center;
	text-align:center;
}
