<div class="container">
    <div class="inner_container">
        <h1>Soy Victor Gonzales</h1>
        <p>Soy programador .Net con especialidad en Javascrip, Typescrip y Python</p>
    </div>
    <div class="profile">
        <img src="Incognito.jpg"/>
    </div>
    <div class="backImage">
        <img src="dotnet-imagen-2.png"/>
    </div>
</div>
